<%= stylesheet_link_tag "register", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "autocep", media: "all", "data-turbolinks-track" => true%>

<%= form_with(model: municipe, local: true) do |form| %>
  <% if municipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(municipe.errors.count, "error") %> prohibited this municipe from being saved:</h2>

      <ul>
      <% municipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="table1">
  <div class="row">
    <section class="col-100">
      <%= form.label "Nome Completo", id: :label %>
      <%= form.text_field :fullname, required: :true, placeholder: "Digite seu nome completo", id: :fullnametxt %>
    </section>
  </div>

  <div class="firstrow">
    <section class="col-50">
    <%= form.label "CPF", id: :label %>
    <%= form.text_field :cpf, required: :true, placeholder: "Digite seu CPF", id: :textfield %>
    </section>

    <section class="col-50">
    <%= form.label "CNS", id: :label %>
    <%= form.text_field :cns, required: :true, placeholder: "Digite seu CNS", id: :textfield %>
    </section>
  </div>

  <div class="secondrow">
  <section class="col-50">
    <%= form.label "Endereço de Email", id: :label %>
    <%= form.text_field :email, required: :true, placeholder: "Digite seu Email", id: :textfield %>
  </section>

  <section class="col-50">
    <%= form.label "Telefone", id: :label %>
    <%= form.text_field :phone, required: :true, placeholder: "Digite seu celular", id: :textfield %>
  </section>
  </div>

  <div class="thirdrow">
  <section class="col-50">
    <%= form.label "Data de Nascimento", id: :label %>
    <%= form.date_select :birthdate, start_year: 1900, end_year: Date.today.year, required: true %>

    </section>

  <section class="col-50">
    <%= form.label "Foto", id: :label %>
    <%= form.file_field :photo, id: :filefield %>
  </section>

  <section class="col-50">
    <%= form.label :status, 'Status', id: :label %>
    <%= form.select :status, [['Ativo', true], ['Inativo', false]], required: :true, include_blank: 'Selecione'%>   
  </section>
  </div>
  
  <div class="actions">
    <%= form.submit "Criar cadastro", id: :btnaction %>
    <%= link_to 'Voltar', municipes_path, id: :btnaction %>
  </div>
</section>
<% end %>
