<%= stylesheet_link_tag "register", media: "all", "data-turbolinks-track" => true %>

<%= form_with(model: municipe, local: true) do |form| %>
  <% if municipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(municipe.errors.count, "error") %> prohibited this municipe from being saved:</h2>

      <ul>
      <% municipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="table1">
  <div class="row">
    <section class="col-100">
      <%= form.label "Nome Completo", id: :label %>
      <%= form.text_field :fullname, required: :true, placeholder: "Digite seu nome completo", id: :textfield %>
    </section>
  </div>

  <div class="row">
    <section class="col-50">
    <%= form.label "CPF", id: :label %>
    <%= form.text_field :cpf, required: :true, placeholder: "Digite seu CPF", id: :textfield %>

    <%= form.label "CNS", id: :label %>
    <%= form.text_field :cns, required: :true, placeholder: "Digite seu CNS", id: :textfield %>
  </div>

  <div class="row">
  <section class="col-50">
    <%= form.label "Endereço de Email", id: :label %>
    <%= form.text_field :email, required: :true, placeholder: "Digite seu Email", id: :textfield %>

    <%= form.label "Telefone", id: :label %>
    <%= form.text_field :phone, required: :true, placeholder: "Digite seu celular", id: :textfield %>
  </section>
  </div>

  <div class="row">
  <section class="col-50">
    <%= form.label "Data de Nascimento", id: :label %>
    <%= form.date_select :birthdate, required: :true, id: :datefield %>

    <%= form.label "Foto", id: :label %>
    <%= form.file_field :photo, id: :filefield %>

    <%= form.label "Status (ativo / inativo)", id: :label %>
    <%= form.check_box :status, id: :checkbox %>
    </section>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </section>
<% end %>
