 <!DOCTYPE html>
 <html>
    <head>
    <%= stylesheet_link_tag "tablestyle", media: "all", "data-turbolinks-track" => true %>
    </head>

    <body>
    <section class="table1">
        <table>
          <thead class="thead1">
          <h1>Munícipes</h1>
            <tr>
              <th scope="col">Nome Completo</th>
              <th scope="col">CPF</th>
              <th scope="col">CNS</th>
              <th scope="col">Email</th>
              <th scope="col">Data de Nascimento</th>
              <th scope="col">Telefone</th>
              <th scope="col">Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
              <% @municipes.each do |municipe| %>
            <tr>
              <td scope="row"><%= municipe.fullname %></td>
            
              <td scope="row"><%= municipe.cpf %></td>
            
              <td scope="row"><%= municipe.cns %></td>
            
              <td scope="row"><%= municipe.email %></td>
            
              <td scope="row"><%= municipe.birthdate %></td>
            
              <td scope="row"><%= municipe.phone %></td>
                   
              <td scope="row"><%= municipe.status %></td>
            
              <td><%= link_to 'Mostrar', municipe, id: :buttons %></td>

              <td><%= link_to 'Editar', edit_municipe_path(municipe), id: :buttons %></td>

              <td><%= link_to 'Deletar Cadastro', municipe, method: :delete, data: { confirm: 'Você tem certeza? ESta ação não poderá ser desfeita.' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      <div class="btnsdiv">
      <%= link_to 'Voltar', welcome_index_path, id: :btnnew %>
      <%= link_to 'Novo Municipe', new_municipe_path, id: :btnnew %>
      </div>
      </section>
    </body>
</html>