 <!DOCTYPE html>
 <html>
    <head>
    <%= stylesheet_link_tag "tablestyle", media: "all", "data-turbolinks-track" => true %>
    </head>

    <body>
    <section class="table1">
        <table>
          <thead>
          <h1>Munícipes</h1>
            <tr>
              <th scope="col">Fullname</th>
              <th scope="col">Cpf</th>
              <th scope="col">Cns</th>
              <th scope="col">Email</th>
              <th scope="col">Birthdate</th>
              <th scope="col">Phone</th>
              <th scope="col">Photo</th>
              <th scope="col">Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
              <% @municipes.each do |municipe| %>
            <tr>
              <td scope="row"><%= municipe.fullname %></td>
            
              <td scope="row"><%= municipe.cpf %></td>
            
              <td scope="row"><%= municipe.cns %></td>
            
              <td scope="row"><%= municipe.email %></td>
            
              <td scope="row"><%= municipe.birthdate %></td>
            
              <td scope="row"><%= municipe.phone %></td>
            
              <td scope="row"><%= municipe.photo %></td>
        
              <td scope="row"><%= municipe.status %></td>
            
              <td><%= link_to 'Show', municipe, id: :municipesshow %></td>

              <td><%= link_to 'Edit', edit_municipe_path(municipe), id: :municipesedit %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      <%= link_to 'New Municipe', new_municipe_path %>
      </section>
    </body>
</html>