 <!DOCTYPE html>
 <html>
    <head>
    <%= stylesheet_link_tag "tablestyle", media: "all", "data-turbolinks-track" => true %>
    </head>


<body>
  <section class="table1">
    <table>
      <thead class="thead1"> 

        <div>
        <%= image_tag(@municipe.photo, size: "250x150") if @municipe.photo.attached? %>
        </div>
        
        <h1>
          <strong><%= @municipe.fullname %></strong>
        </h1>
        
        <tr>
          <th scope="col">CPF</th>
          <th scope="col">CNS</th>
          <th scope="col">E-mail</th>
          <th scope="col">Data de Nascimento</th>
          <th scope="col">Número de Telefone</th>
          <th scope="col">Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td scope="row"><%= @municipe.cpf %></td>
          <td scope="row"><%= @municipe.cns %></td>
          <td scope="row"><%= @municipe.email %></td>
          <td scope="row"><%= @municipe.birthdate %></td>
          <td scope="row"><%= @municipe.phone %></td>
          <td scope="row"><%= active_or_inactive(@municipe.status) %></td>

        </tr>
      </tbody>
    </table>

    <div class="btnsdiv">

      <%= link_to 'Voltar', municipes_path, id: :back1 %>
      <%= link_to 'Editar', edit_municipe_path(@municipe), id: :edit1 %>
      <%= link_to 'Mostrar Endereco', detalhe_endereco_path(@municipe), id: :edit1%>
    </div>
  </section>
</body>

