<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag "style", media: "all", "data-turbolinks-track" => true %>
    <nav class="logo">
        <h1>
          <span class="jab">People</span><span class="tv">CONTROL</span
          ><span class="fist">  &#x1F3E5;</span>
        </h1>
    
      <ul>
          <li class="nav-item">
            <%= link_to 'Munícipes', municipes_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Endereços', enderecos_path %>
          </li>
      </ul>
    </nav>

        <div class="hamburger" id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
  </head>

<body>
  <section class="firstintro">
      <div class="intro-text">
        <h1>
          <span class="hear"> Sistema para cadastro de </span> <br />
          <span class="connecting"> Munícipes e Endereços!</span>
        </h1>

        <p>
          Feito com Ruby on Rails! 
        </p>
        <%= link_to 'Cadastro de Munícipes', municipes_path, class: "btn red" %>
        <%= link_to 'Endereços Cadastrados', enderecos_path, class: "btn blue" %>
      </div>
      
      <div id="videopreview">
      <%= video_tag "saudevideo.m4a", width: 560, height: 315, controls: true, id: :videoplay %>
      </div>
        <div class="stand-1"></div>
        <div class="stand-2"></div>
    </section>

    

      <script>

      let videopreview = document.querySelector("video");
        let previewTimeout = null;
        let videoPausedAt = null;

        function startPreview() {
          videopreview.muted = true;
          videopreview.playbackRate = 0.5;
          videopreview.play();
        }

        function stopPreview() {
          videoPausedAt = videopreview.currentTime;
          videopreview.pause();
        }

        videopreview.addEventListener("mouseenter", () => {
          if (videoPausedAt === null) {
            startPreview();
          } else {
            videopreview.currentTime = videoPausedAt;
            videoPausedAt = null;
            videopreview.play();
          }
        });

        videopreview.addEventListener("mouseleave", () => {
          stopPreview();
        });
    </script>
  </body>
</html>