<%= stylesheet_link_tag "register_address", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "autocep", media: "all", "data-turbolinks-track" => true%>

<%= form_with(model: endereco, local: true) do |form| %>
  <% if endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>

      <ul>
      <% endereco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cep  %>
    <%= form.text_field :cep, id:"cep", value:"", size:"20", maxlength:"9",
    onblur:"pesquisacep(this.value);" %>
  </div>

  <div class="field">
    <%= form.label :rua %>
    <%= form.text_field :rua, id:"rua" %>
  </div>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero, id: "numero" %>
  </div>

  <div class="field">
    <%= form.label :complemento %>
    <%= form.text_field :complemento, id: "complemento" %>
  </div>

  <div class="field">
    <%= form.label :bairro%>
    <%= form.text_field :bairro, id: "bairro" %>
  </div>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :cidade, id: "cidade" %>
  </div>

  <div class="field">
    <%= form.label :uf %>
    <%= form.text_field :uf, id:"uf" %>
  </div>

  <div class="field">
    <%= form.label :ibge %>
    <%= form.text_field :ibge, id: "ibge" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
