<%= stylesheet_link_tag "register", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "autocep", media: "all", "data-turbolinks-track" => true%>



<%= form_with(model: endereco, local: true) do |form| %>
  <%= form.hidden_field :municipe_id %>
  
  <% if endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>

      <ul>
      <% endereco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="table1">
    <div class="row">
    <section class="col-100">
      <%= form.label :cep, id: :label  %>
      <%= form.text_field :cep, id:"cep", value:"", size:"20", maxlength:"9",
      onblur:"pesquisacep(this.value);" %>
    </section>
    </div>

  <div class="firstrow">
    <section class="col-50">
      <%= form.label :rua, id: :label %>
      <%= form.text_field :rua, id:"rua" %>
    </section>
    

    <section class="col-50">
      <%= form.label :numero, id: :label %>
      <%= form.text_field :numero, id:"numero" %>
    </section>
  </div>

  <div class="secondrow">
    <section class="col-50">
      <%= form.label :complemento, id: :label %>
      <%= form.text_field :complemento, id:"complemento" %>
    </section>


    <section class="col-50">
      <%= form.label :bairro, id: :label %>
      <%= form.text_field :bairro, id:"bairro" %>
    </section>
  </div>

  <div class="thirdrow">
    <section class="col-50">
      <%= form.label :cidade, id: :label %>
      <%= form.text_field :cidade, id:"cidade" %>
    </section>


    <section class="col-50">
      <%= form.label :uf, id: :label %>
      <%= form.text_field :uf, id:"uf" %>
    </section>


    <section class="col-50">
      <%= form.label :ibge, id: :label %>
      <%= form.text_field :ibge, id:"ibge" %>
    </section>
  </div>

    <div class="actions">
      <%= form.submit "Cadastrar", id: :btnaction %>
      <%= link_to 'Voltar', :back, id: :btnaction %>
    </div>

  </section>
<% end %>
