<%= form_with(model: endereco, local: true) do |form| %>
  <% if endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>

      <ul>
      <% endereco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cep, id: "cep" %>
    <%= form.text_field :cep %>
  </div>

  <div class="field">
    <%= form.label :rua, id:"rua" %>
    <%= form.text_field :rua %>
  </div>

  <div class="field">
    <%= form.label :numero, id: "numero" %>
    <%= form.text_field :numero %>
  </div>

  <div class="field">
    <%= form.label :complemento, id: "complemento" %>
    <%= form.text_field :complemento %>
  </div>

  <div class="field">
    <%= form.label :bairro, id: "bairro"%>
    <%= form.text_field :bairro %>
  </div>

  <div class="field">
    <%= form.label :cidade, id: "cidade" %>
    <%= form.text_field :cidade %>
  </div>

  <div class="field">
    <%= form.label :uf, id:"uf" %>
    <%= form.text_field :uf %>
  </div>

  <div class="field">
    <%= form.label :ibge, id: "ibge" %>
    <%= form.text_field :ibge %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
