 <!DOCTYPE html>
 <html>
    <head>
    <%= stylesheet_link_tag "tablestyle", media: "all", "data-turbolinks-track" => true %>
    </head>


    <body>
    <section class="table1">
        <table>
          <div class="btnsdiv">
      <%= link_to 'Voltar', welcome_index_path, class: "btn new" %>
      </div>

          <thead class="thead1">
          <h1>Endereços</h1>
            <tr>
              <th scope="col">CEP</th>
              <th scope="col">Rua</th>
              <th scope="col">Numero</th>
              <th scope="col">Complemento</th>
              <th scope="col">Bairro</th>
              <th scope="col">Cidade</th>
              <th scope="col">UF</th>
              <th scope="col">IBGE</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
              <% @enderecos.each do |endereco| %>
            <tr>
              <td scope="row"><%= endereco.cep %></td>
            
              <td scope="row"><%= endereco.rua %></td>
            
              <td scope="row"><%= endereco.numero %></td>
            
              <td scope="row"><%= endereco.complemento %></td>
            
              <td scope="row"><%= endereco.bairro %></td>
            
              <td scope="row"><%= endereco.cidade %></td>
                   
              <td scope="row"><%= endereco.uf %></td>

              <td scope="row"><%= endereco.ibge %></td>
            
              <td><%= link_to 'Mostrar', endereco, id: :buttons %></td>

              <td><%= link_to 'Editar', edit_endereco_path(endereco), id: :buttons %></td>

            </tr>
            <% end %>
          </tbody>
        </table>

      
      </section>
    </body>
</html>
