 <!DOCTYPE html>
 <html>
    <head>
    <%= stylesheet_link_tag "tablestyle", media: "all", "data-turbolinks-track" => true %>
    </head>

    <body>
      <section class="table1">
        <table>
          <thead class="thead1">
            <tr>
              <th scope="col">CEP</th>
              <th scope="col">Rua</th>
              <th scope="col">Número</th>
              <th scope="col">Complemento</th>
              <th scope="col">Bairro</th>
              <th scope="col">Cidade</th>
              <th scope="col">UF</th>
              <th scope="col">IBGE</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td scope="row"><%= @endereco.cep %></td>
              <td scope="row"><%= @endereco.rua %></td>
              <td scope="row"><%= @endereco.numero %></td>
              <td scope="row"><%= @endereco.complemento %></td>
              <td scope="row"><%= @endereco.bairro %></td>
              <td scope="row"><%= @endereco.cidade %></td>
              <td scope="row"><%= @endereco.uf %></td>
              <td scope="row"><%= @endereco.ibge %></td>
            </tr>
          </tbody>
        </table>

      <div class="btnsdiv">

        <%= link_to 'Voltar', enderecos_path, id: :back1 %>
        <%= link_to 'Editar', edit_endereco_path(@endereco), id: :edit1 %>

      </div>
  </section>
</body>
